#tree_details {
    padding:0;
    padding-top:6px;
    top: 29px;
}


#id_autocomplete {
    margin-top: -2px;
    width: 135px;
}

ul.ui-autocomplete{
    background: #ffffff;
    border:solid 1px #D4D6D8;
    width: 135px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

.ui-menu-item a.ui-state-focus{
    background: #D4D6D8;
}

.ui-menu-item a{
    background:#ffffff;
    font-size: 10px;
    width: 135px;
}

.autocompletesearch label{
    top:3px;
}

input[type='text'].ui-autocomplete-loading {
    background: url('../../webgateway/img/spinner.gif') no-repeat right center;
}


div label input {
    margin-right:100px;
}
body {
    font-family:sans-serif;
}



.case_sensitive input[type=checkbox] {
    display:none;
}
.case_sensitive label {
    color:hsl(215,20%,75%);
    font-size: 1.3em;
    font-weight: lighter;
    display:inline-block;
    width: 16px;
    height: 16px;
    padding: 5px 0px;
    margin: 2px;
}

.case_sensitive input[type=checkbox]:checked + label {
    color:#555555;
}